<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}" lang="ES">
<head>
    <title>Crear nou nadador</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/natacio.css"
          th:href="@{/css/natacio.css}"/>
</head>
<body>
<div layout:fragment="content">
    <h2>Nou nadador</h2>
    <form action="#" th:action="@{/nadador/add}"
          th:object="${nadador}" method="post">
        <table>
            <tr>
                <td><label>Nom</label></td>
                <td><label>
                    <input type="text" th:field="*{nom}" placeholder="Nom i cognoms" maxlength="50"/>
                </label></td>
                <td th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="error"></td>
            </tr>
            <tr>
                <td><label>Num. Federat</label></td>
                <td><label>
                    <input type="text" th:field="*{numFederat}" maxlength="10"/>
                </label></td>
            </tr>
            <tr>
                <td><label>Pais</label></td>
                <td><label>
                    <input type="text" th:field="*{pais}" maxlength="20"/>
                </label></td>
            </tr>
            <tr>
                <td><label>Edat</label></td>
                <td><label>
                    <input type="number" th:field="*{edat}" min="16" max="99" th:value="16" th:class="${#fields.hasErrors('edat')} ? needcorrection"/>
                </label></td>
                <td th:if="${#fields.hasErrors('edat')}" th:errors="*{edat}" class="error"></td>
            </tr>
            <tr>
                <td><label>Genere</label></td>
                <td><label>
                    <select class="form_control" th:field="*{genere}">
                        <option value="No seleccionat">Selecciona el genero</option>
                        <option value="Femeni">Femenino</option>
                        <option value="Masculi">Masculino</option>
                    </select>
                </label>
                </td>
                <td th:if="${#fields.hasErrors('genere')}" th:errors="*{genere}"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Afegeix nadador" /></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
