<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Gestionar Nadadors</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/natacio.css"
          th:href="@{/css/natacio.css}"/>
</head>
<body>
<div>
    <h1>Llista de Nadadors</h1>
    <div th:if="${#lists.isEmpty(nadadors)}">
        No hi ha nadadors en la base de dades
    </div>
    <table class="table table-striped" th:unless="${#lists.isEmpty(nadadors)}">
        <thead>
        <tr>
            <th scope="col">Num. Federat</th>
            <th scope="col">Nom</th>
            <th scope="col">Pais</th>
            <th scope="col">Edat</th>
            <th scope="col">Gènere</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="nadador: ${nadadors}">
            <td th:text="${nadador.numFederat}"></td>
            <td th:text="${nadador.nom}" th:class="${#strings.equals(nadador.genere, 'Femeni')} ? font-weight-bold : font-italic"></td>
            <!--Preguntar por qué va raro lo de font  th:class="${#strings.equals(nadador.genere, 'Femeni')} ? font-weight-bold : font-italic"-->
            <td th:text="${nadador.pais}"></td>
            <td th:text="${nadador.edat}"></td>
            <td th:text="${nadador.genere}"></td>
            <td><a class="btn btn-warning" th:href="@{/nadador/update/{nom}(nom=${nadador.nom})}">Edita</a>
            </td>
            <td><a class="btn btn-danger" th:href="@{/nadador/delete/{nom}(nom=${nadador.nom})}">Esborra</a>
            </td>
        </tr>
        </tbody>
    </table>
    <p>
        <a class="btn btn-primary" href="add">Afegeix nadador</a>
    </p>
    <p>
        <a class="btn btn-link" href="/">Tornar</a>
    </p>
</div>
</body>
</html>
