<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Actualizar nadador</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/natacio.css"
          th:href="@{/css/natacio.css}"/>
</head>
<body>
<div>
    <h2>Actualiza nadador</h2>
    <form action="#" th:action="@{/nadador/update}"
          th:object="${nadador}" method="post">
        <table>
            <tr>
                <td><label>Nom</label></td>
                <td><label>
                    <input type="text" th:field="*{nom}" readonly/>
                </label></td>
            </tr>
            <tr>
                <td><label>Num. Federat</label></td>
                <td><label>
                    <input type="text" th:field="*{numFederat}" maxlength="10"/>
                </label></td>
            </tr>
            <tr>
                <td><label>Pais</label></td>
                <td><label>
                    <input type="text" th:field="*{pais}" maxlength="20"/>
                </label></td>
            </tr>
            <tr>
                <td><label>Edat</label></td>
                <td><label>
                    <input type="number" th:field="*{edat}" min="16" max="99"/>
                </label></td>
            </tr>
            <tr>
                <td><label>Genere</label></td>
                <td><label>
                    <select class="form_control" th:field="*{genere}">
                        <option th:each="gendervalue : ${genderList}"
                                th:value="${gendervalue}"
                                th:text="${gendervalue}"></option>
                    </select>
                </label></td>
                <td th:if="${#fields.hasErrors('genere')}" th:errors="*{genere}"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Actualiza nadador" /></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>